body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body{
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background-color: #fff;
}
ul {
    list-style: none;
}
a:link,a:visited{
    color: #999;
    text-decoration: none;
}
a:hover,a:active{
    color: #31a5e7;
    text-decoration: none;
}
.clear-fixed{
    zoom: 1;
}
.clear-fixed::after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
    line-height:0;
}

/**@style
    全局常用类名
*/
.section {
    width: 1226px;
}
