.ivu-form-item {
    padding: 30px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
    margin-bottom: 0;
    vertical-align: center;
}
.ivu-form-item-content {
    margin-left: 40px!important;
}
.ivu-radio-wrapper {
    border-radius: 4px!important;
    width: 156px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 10px!important;
    //border-left: 1px solid #dddee1;
    border: 1px solid #dddee1!important;
}
.ivu-radio-group-button .ivu-radio-wrapper-checked {
    background: #39f!important;
    color: #fff!important;
    border-left: none!important;
}
.special-padding {
    padding-bottom: 20px;
}
.special-padding .ivu-radio-wrapper {
    margin-bottom: 10px;
}

